.express-diagnostic {

	&__hero {

		padding: 186px 0 78px;
		background: radial-gradient(151.2% 260.55% at -10.94% 135.63%, #C4E0FF 0%, #ECF5FF 38.35%, #F7FBFF 83.26%);
		overflow: hidden;

		& .hero-content {

			flex: 0 0 620px;
			padding-right: 50px;

			&__title {
				font-size: 46px;
				line-height: 56px;
				margin-bottom: 10px;
			}

			&__description {
				font-style: normal;
				font-weight: 500;
				font-size: 28px;
				line-height: 36px;
				margin-bottom: 29px;
			}

			&__text {

				font-size: 18px;
				line-height: 26px;
				font-weight: 400;
				color: #8091B5;
				margin-bottom: 75px;

				& b, & strong {
					color: $standartcolor;
				}

			}

		}

		& .hero-picture {

			flex: 1;

			& picture,
			& img {
				display: block;
				/*max-width: 100%;*/
				max-width: 625px;
				max-width: 900px;
				height: auto;
				position: relative;
				right: -20px;
				/*right: -100px;*/
			}

		}

	}

	& .--mb-step-2 {
		margin-bottom: 128px;
	}

	& .--mt-step-3 {
		margin-top: 128px;
	}

	&__steps {

		padding: 120px 0 96px;

		& .steps {

			&__form {

				& .select2-container {
					width: 500px !important;
				}

			}

			&__step {

				& .step {

					&__number {

						margin-bottom: 32px;				

						&-gradient {
							padding: 2px;							
							background: #ADC4D8;
							border-radius: 100%;
							width: 62px;
							height: 62px;
							margin: 0 auto;
						}

						&-wrap {

							border-radius: 100%;
							width: 100%;
							height: 100%;

							& > span {

								display: block;
								background: $white;
								border-radius: 100%;
								text-align: center;
								display: flex;
								align-items: center;
								justify-content: center;
								width: 100%;
								height: 100%;

								& > span {

									font-size: 19px;
									line-height: 22px;
									color: #ADC4D8;

								}

							}

						}

						&.--focus .step__number-gradient {							
							background: $maingradient;
						}

						&.--focus .step__number-wrap {

							& > span {

								& > span {
									background: $maingradient;
									font-size: 19px;
									line-height: 22px;
									color: $white;
									color: transparent;
									background-clip: text;
									text-fill-color: transparent;
								}

							}

						}

						&.--complete .step__number-gradient {							
							background: $maingradient;
						}

						&.--complete .step__number-wrap {

							& > span {

								background: transparent;

								& > span {
									background: transparent;
									color: $white;
								}

							}

						}

					}

					&__title {
						font-size: 30px;
						line-height: 35px;
						font-weight: 600;
						text-align: center;
						max-width: 777px;
						margin: 0 auto 54px;
					}

					&__description {
						font-weight: 400;
						font-size: 16px;
						line-height: 25px;
						color: #8091B5;
						text-align: center;
						margin-top: 5px;
						margin-bottom: 72px;
					}

					&__box {

						margin-bottom: 72px;
						max-width: 890px;
						margin: 0 auto 72px;

						&-gradient {
							padding: 1px;							
							background: $maingradient;
							border-radius: 5px;
						}

						&-wrap {
							padding: 128px 0 128px;
							background: $white;
							border-radius: 5px;
						}

					}

					&__heading {
						font-style: normal;
						font-weight: 400;
						font-size: 18px;
						line-height: 25px;
						color: #8091B5;
						text-align: center;
						max-width: 620px;
						margin: 0 auto 42px;

						& strong,
						& b {
							color: $standartcolor;
							font-weight: 600;
						}

						&.--scale-mb {
							margin-bottom: 66px;							
						}

					}

					&__scale {

						width: 575px;
						height: 15px;
						margin: 0 auto;
						background: rgba(173, 196, 216, 0.25);
						border-radius: 20px;
						position: relative;

						& .scale {

							&__bar {
								position: absolute;
								z-index: 100;
								transition: width 0.25s linear;
								height: 100%;
								background: $maingradient;
								border-radius: 20px;
								width: 0;
								top: 0;
								left: 0;
							}

							&__dot {

								width: 26px;
								height: 26px;
								position: absolute;
								z-index: 110;
								border: $white solid 5px;
								border-radius: 100%;
								background: #b9cdde;
								top: -5px;
								transform: translateX(-13px);
								cursor: pointer;

								&:before {
									content: attr(data-value);
									display: inline-block;
									font-weight: 500;
									font-size: 16px;
									line-height: 22px;
									color: rgba(62, 82, 132, 0.6);
									position: absolute;
									left: -42px;
									top: -35px;
									white-space: nowrap;
								}

								&.--active {
									background: $maingradient;
								}

								&.--val-1 {

									left: 7%;

									&:before {
										left: -31px;
									}

								}

								&.--val-2 {
									left: 33%;									
								}

								&.--val-3 {
									left: 67%;									
								}

								&.--val-4 {

									left: 93%;

									&:before {
										left: -30px;
									}

								}

							}

						}

					}

					&__question {
						font-style: normal;
						font-weight: 500;
						font-size: 18px;
						line-height: 25px;
						max-width: 620px;
						margin: 0 auto 42px;

					}

					&__form-check {

						max-width: 620px;
						margin: 0 auto 26px;

						& .step__form-input-label {

							margin-top: 16px;

							&.--other {
								margin-top: 32px;
							}

						}

						& .step__form-input-label,
						& .step__form-input-label + .form-control {
							position: relative;
							left: -30px;
						}

					}

					&__form-group {

						margin-bottom: 32px;

						&.--terms {
							margin-bottom: 0;
						}

					}

					&__contacts {

						background: #ECF5FF;
						border-radius: 5px;
						padding: 64px 48px;
						max-width: 890px;
						margin: 0 auto 68px;

						&-left {
							padding-right: 10px;
							flex: 0 0 50%;
						}

						&-right {
							padding-left: 10px;
							flex: 0 0 50%;
						}

					}

				}

			}

		}

	}

}


/***
--- @media (max-width: 992px) ---
***/
@media (max-width: map-get($grid-breakpoints, "lg")) {

	.express-diagnostic {

		&__hero {

			& .hero-content {

				flex: 0 0 100%;
				padding-right: 0px;
				margin-bottom: 40px;

				&__title {
				}

				&__description {
				}

				&__text {

				}

			}

			& .hero-picture {

				& picture,
				& img {
					right: 0px;
				}

			}

		}

	}

}

/***
--- @media (max-width: 768px) ---
***/
@media (max-width: map-get($grid-breakpoints, "md")) {

	.express-diagnostic {

		&__hero {

			& .hero-content {

				&__title {
					font-size: 43px;
					line-height: 53px;
				}

				&__description {
					font-size: 27px;
				}

			}

		}

		& .--mb-step-2,
		& .--mt-step-3 {
			margin-top: 64px;
		}

		&__steps {

			& .steps {

				&__form {

					& .select2-container {
						width: 100% !important;
						min-width: 100%;
					}

				}

				&__step {

					& .step {

						&__box {

							/*margin-bottom: 72px;
							max-width: 890px;
							margin: 0 auto 72px;*/

							&-wrap {
								padding: 72px 56px 72px;
							}

						}

						&__scale {
							width: 100%;
						}

						&__form-group {
							margin-bottom: 24px;

						}

						&__contacts {

							background: #ECF5FF;
							border-radius: 5px;
							padding: 64px 48px;
							max-width: 100%;
							margin: 0 auto 68px;

							&-left {
								padding-right: 0px;
								flex: 0 0 100%;
							}

							&-right {
								padding-left: 0px;
								flex: 0 0 100%;
							}

						}

					}

				}

			}

		}

	}

}

/***
--- @media (max-width: 576px) ---
***/
@media (max-width: map-get($grid-breakpoints, "sm")) {

	.express-diagnostic {

		&__hero {

			padding: 120px 0 100px;

			& .hero-content {

				/*flex: 0 0 620px;*/
				padding-right: 0px;
				margin-bottom: 40px;

				&__title {
					font-size: 36px;
					line-height: 44px;
					margin-bottom: 16px;
				}

				&__description {
					font-size: 24px;
					line-height: 28px;
					margin-bottom: 32px;
				}

				&__text {
					font-size: 16px;
					line-height: 24px;
					margin-bottom: 32px;
				}

			}

			& .hero-picture {

				flex: 0 0 100%;

				& picture,
				& img {
					max-width: 1000px;
					height: auto;
					right: 20px;
				}

			}

		}

		&__steps {

			padding: 34px 0 42px;

			& .steps {

				&__step {

					& .step {

						&__title {
							font-size: 24px;
							line-height: 30px;
							/*font-weight: 600;*/
							max-width: 100%;
							margin: 0 auto 40px;
						}

						&__description {
							/*font-weight: 400;*/
							font-size: 14px;
							line-height: 22px;
							margin-top: 5px;
							margin-bottom: 40px;
						}

						&__box {

							/*margin-bottom: 72px;
							max-width: 890px;
							margin: 0 auto 72px;*/

							&-wrap {
								padding: 64px 28px;
							}

						}

						&__scale {

							height: 12px;

							& .scale {

								&__dot {

									width: 16px;
									height: 16px;
									border: $white solid 5px;
									top: -2px;
									transform: translateX(-8px);

									&:before {
										font-size: 12px;
										line-height: 17px;
										left: -31px;
										top: -35px;
									}

									&.--val-1 {

										left: 7%;

										&:before {
											left: -31px;
										}

									}

									&.--val-2 {
										left: 33%;									
									}

									&.--val-3 {
										left: 67%;									
									}

									&.--val-4 {

										left: 93%;

										&:before {
											left: -30px;
										}

									}

								}

							}

						}

						&__heading {
							font-size: 14px;
							line-height: 22px;
							max-width: 100%;
							margin: 0 auto 32px;

							&.--scale-mb {
								margin-bottom: 48px;							
							}

						}

						&__question {
							font-size: 18px;
							line-height: 24px;
							max-width: 100%;
							margin: 0 auto 32px;

						}

						&__form-check {

							& .form-check-label {
								font-size: 14px;
								line-height: 20px;								
							}

							max-width: 100%;
							margin: 0 auto 24px;

							/*& .step__form-input-label {

								margin-top: 16px;

								&.--other {
									margin-top: 32px;
								}

							}

							& .step__form-input-label,
							& .step__form-input-label + .form-control {
								position: relative;
								left: -30px;
							}*/

						}

						&__contacts {

							padding: 56px 48px;
							max-width: 100%;
							margin: 0 auto 56px;

						}

					}

					&.--step-4 .step__title {
						margin: 0 auto 40px;
						padding: 0 20px;
					}

				}

			}

		}

	}

}