.modus-ims {

	&__hero {

		padding: 186px 0 78px;
		background: radial-gradient(151.2% 260.55% at -10.94% 135.63%, #C4E0FF 0%, #ECF5FF 38.35%, #F7FBFF 83.26%);
		overflow: hidden;

		&-wrap {
			background: url('../images/modus/ims/modus-ims-hero-bg.svg') calc(50% + 50px) calc(50% - 128px) no-repeat;
		}

		& .hero-content {

			flex: 0 0 620px;
			padding-right: 50px;

			&__title {
				font-size: 46px;
				line-height: 56px;
				margin-bottom: 10px;
			}

			&__description {
				font-style: normal;
				font-weight: 500;
				font-size: 28px;
				line-height: 36px;
				margin-bottom: 29px;
			}

			&__text {

				font-size: 18px;
				line-height: 26px;
				font-weight: 400;
				color: #8091B5;
				margin-bottom: 75px;

				& b, & strong {
					color: $standartcolor;
				}

			}

			&__buttons {

				& > .btn:first-child {
					margin-right: 25px;
				}

				& > .btn:last-child {

					padding: 13px 45px 13px 30px;
					position: relative;

					&:focus {
						padding: 15px 45px 15px 30px;
					}

					& span {

						position: relative;

						&:after {						
							content: '';
							display: inline-block;
							width: 14px;
							height: 14px;
							background: url('../img/sprite/arrow-down-solid-btn.svg') 0 0 no-repeat;
							margin-left: 10px;
							position: absolute;
							top: 3px;
							right: -23px;
							z-index: 100;
						}

					}

					&:hover,
					&:focus {

						padding: 15px 45px 15px 30px;

						& span {

							&:after {
								background: url('../img/sprite/arrow-down-solid-btn-hover.svg') 0 0 no-repeat;
							}

						}

					}

				}

			}

		}

		& .hero-picture {

			flex: 1;

			& picture,
			& img {
				display: block;
				/*max-width: 100%;*/
				max-width: 625px;
				height: auto;
				position: relative;
				right: -20px;
			}

		}

	}

	&__about {

		padding: 104px 0 120px;

		&-left {
			flex: 0 0 685px;
			padding-right: 104px;
		}

		&-right {
			flex: 0 0 171px;
		}

		&-title {
			font-size: 46px;
			line-height: 58px;
			font-weight: 700;
			margin-bottom: 10px;
		}

		&-description {
			font-style: normal;
			font-weight: 500;
			font-size: 28px;
			line-height: 36px;
			margin-bottom: 56px;
		}

		&-list {

			margin: 0;
			padding: 0 0 0 42px;
			list-style: none;

			& .about-list {

				&__item {

					margin: 0 0 24px 0;
					padding: 0 0 0 52px;
					list-style: none;
					position: relative;

					&:before {
						content: '';
						display: inline-block;
						position: absolute;
						top: 2px;
						left: 0;
						width: 22px;
						height: 22px;
						background: url('../img/sprite/bullet-check-icon.svg') 5px 7px no-repeat, $maingradient;
						border-radius: 100%;
					}

					font-style: normal;
					font-weight: 400;
					/*opacity: 0.6;*/
					font-size: 18px;
					line-height: 26px;
					/* or 144% */

					/*& b, & strong {
						opacity: 1;
					}*/

				}

			}

		}

		&-picture {

			position: relative;
			top: -50px;

			& picture,
			& img {
				max-width: 100%;
			}

		}

	}

	&__video {

		padding: 96px 0 112px;
		background: #D9E7FF;

		&-title {
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 36px;
			margin-bottom: 20px;
		}

		&-left {

			flex: 0 0 862px;

			& > div {

				width: 100%;
				padding-top: 50%;
				padding-top: 56.25%;
				position: relative;

				& > iframe {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 100;
				}

			}

		}

		&-right {
			flex: 1;
			padding-left: 67px;
		}

		&-heading {
			font-style: normal;
			font-weight: 600;
			font-size: 36px;
			line-height: 40px;
			margin-bottom: 15px;
			max-width: 360px;
		}

		&-text {

			font-style: normal;
			font-weight: 400;
			font-size: 18px;
			line-height: 26px;
			margin-bottom: 42px;
			max-width: 360px;
			/*color: #8091B5;*/

			& b, & strong {
				color: $standartcolor;
			}

		}

	}

	&__turnover {

		padding: 112px 0 144px;

		&-title {
			font-size: 30px;
			line-height: 40px;
			margin-bottom: 48px;
    		font-weight: 600;
		}

		&-list {

			margin: 0 auto 64px;
			padding: 0;
			list-style: none;
			max-width: 810px;

			& .turnover-list {

				&__item {

					flex: 0 0 50%;
					margin: 0 0 40px;
					padding: 0;
					list-style: none;

					&:nth-last-child(1),
					&:nth-last-child(2) {
						margin-bottom: 0px;
					}

					&:nth-child(odd) {
						padding-right: 20px;
					}

					&:nth-child(even) {
						padding-left: 20px;
					}

					&-gradient {
						padding: 1px;
						box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
						background: $maingradient;
						border-radius: 4px;
						height: 100%;
					}

					&-wrap {
						padding: 72px 40px 48px;
						background: $white;
						border-radius: 4px;
						text-align: center;
						height: 100%;
					}

					&-title {
						font-size: 42px;
						line-height: 56px;
						color: #1ECDD8;

						& span {
							display: inline-block;
							width: 55px;
						}

					}

					&-description {
						font-size: 20px;
						line-height: 26px;
						margin-bottom: 24px;
						color: #1ECDD8;
					}

					&-progressbar {

						width: 100%;
						height: 15px;
						background: rgba(173, 196, 216, 0.25);
						border-radius: 20px;
						position: relative;
						margin-bottom: 24px;

						& span {
							position: absolute;
							z-index: 100;
							top: 0;
							left: 0;
							height: 100%;
							width: 0%;
							border-radius: 20px;
							background: $maingradient;
							transition: width 2s ease-out;
						}

					}

					&-text {

						font-size: 15px;
						line-height: 21px;
						color: #8091B5;
						font-weight: 400;

						& strong,
						& b {
							color: #3E5284;
						}

					}

					&-notice {
						font-style: normal;
						font-weight: normal;
						font-size: 12px;
						line-height: 17px;
						color: #8091B5;
						margin-top: 18px;
					}

				}

			}

		}

		&-cards {

			margin: 0 auto;
			padding: 0;
			list-style: none;
			max-width: 747px;
			position: relative;
			z-index: 110;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: -21px;
				left: -124px;
				background: url('../img/sprite/turnover-cards-bg-left.svg') 0 0 no-repeat;
				width: 214px;
				height: 445px;
				z-index: 100;
			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 230px;
				right: -124px;
				background: url('../img/sprite/turnover-cards-bg-right.svg') 0 0 no-repeat;
				width: 211px;
				height: 246px;
				z-index: 100;
			}

			& .turnover-cards {

				&__item {

					margin: 0 0 25px;
					padding: 43px 75px 51px 75px;
					list-style: none;
					background: $white;
					box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.07);
					position: relative;
					z-index: 110;

					&:last-child {
						margin-bottom: 0;
					}

					&:first-child:after {
						content: '';
						display: block;
						width: 60px;
						height: 60px;
						background: white;
						right: -30px;
						top: 50%;
						transform: translateY(-50%);
						position: absolute;
						z-index: 110;
						border-radius: 100%;
						box-shadow: inset 28px -1px 17px -21px rgba(0, 0, 0, 0.07);
					}

					&:last-child:after {
						content: '';
						display: block;
						width: 60px;
						height: 60px;
						background: white;
						left: -30px;
						top: 50%;
						transform: translateY(-50%);
						position: absolute;
						z-index: 110;
						border-radius: 100%;
						box-shadow: inset -28px -1px 17px -21px rgba(0, 0, 0, 0.07);
					}

					&-picture {
						flex: 0 0 135px;

						& picture,
						& img {
							max-width: 100%;
						}
					}

					&-text {

						flex: 1;
						padding-left: 45px;
						font-size: 18px;
						line-height: 25px;
						font-weight: 400;
						color: #8091B5;

						& strong,
						& b {
							color: #3E5284;
						}

					}

				}

			} 

		}

	}

	&__express-diagnostic {

		background: #F8FBFF;
		position: relative;
		padding: 80px 0 64px;

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 33px;
			width: 100%;
			background: linear-gradient(180deg, #EEF5FF 0%, rgba(255, 255, 255, 0) 100%);
		}

		&:after {
			top: auto;
			bottom: 0;
			transform: rotate(-180deg);
		}

		& > .container {

			position: relative;

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: -35px;
				left: 0;
				width: 80px;
				height: 153px;
				background: url('../img/sprite/express-diagnostic-bg-left.svg') 0 0 no-repeat;

			}

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: -25px;
				right: 0;
				width: 112px;
				height: 159px;
				background: url('../img/sprite/express-diagnostic-bg-right.svg') 0 0 no-repeat;
			}

		}

		& .express-diagnostic {

			&__title {
				font-size: 24px;
				line-height: 40px;
				margin-bottom: 32px;
				font-weight: 600;
				position: relative;
			}

			&__buttons {

				& a:first-child {
					margin-right: 24px;
					position: relative;
				}

			}

		}

	}

	&__how-it-works {

		padding: 136px 0 68px;
		position: relative;

		& > .container {

			position: relative;
			z-index: 110;

			&:before {
				content: '';
				display: block;
				position: absolute;
				z-index: -1;
				top: -85px;
				right: 84px;
				width: 332px;
				height: 358px;
				background: url('../images/modus/ims/hiw-bg-top-right.svg') 0 0 no-repeat;
			}

		}

		& .how-it-works {

			&__background {
				width: 100%;
				height: 100%;
				background: radial-gradient(circle, rgba(236,245,255,1) 0%, rgba(196,224,255,1) 100%);
				clip-path: polygon(0 50%, 100% 0, 100% 100%);
				position: absolute;
				z-index: 100;
				top: 0;
				left: 0;
			}

			&__title {
				font-style: normal;
				font-weight: bold;	
				font-size: 46px;
    			line-height: 56px;
			}

			&__subtitle {
				font-style: normal;
				font-weight: 500;
				font-size: 28px;
				line-height: 36px;
				margin-bottom: 24px;
			}

			&__description {
				font-style: normal;
				font-weight: 600;
				font-size: 18px;
				line-height: 26px;
				max-width: 810px;
				margin-bottom: 224px;

				& strong,
				& b {
					font-weight: 700;					
				}
			}

			&__before,
			&__after {

				margin-bottom: 72px;

				&-left {

				}

				&-right {

				}

				&-title {
					font-style: normal;
					font-weight: 700;
					font-size: 46px;
					line-height: 58px;
					margin-bottom: 40px;
				}

				&-subtitle {
					font-size: 24px;
					line-height: 28px;
					margin-bottom: 14px;
				}

				&-text {
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 24px;
				}

				&-picture {

					& picture,
					& img {
						display: inline-block;
					}

				}

			}

			&__before {

				position: relative;
				z-index: 110;

				&:before {
					content: '';
					display: block;
					position: absolute;
					z-index: -1;
					top: -150px;
					left: 0;
					width: 401px;
					height: 196px;
					background: url('../images/modus/ims/hiw-bg-top-left.svg') 0 0 no-repeat;
				}

				&-left {
					/*max-width: 467px;*/
					position: relative;
					top: -20px;
				}

				&-right {
					flex: 0;
					padding-left: 30px;
				}

			}

			&__after {

				margin-bottom: 180px;
				position: relative;

				&:before {
					content: '';
					display: block;
					position: absolute;
					z-index: -1;
					top: -50px;
					left: 0;
					width: 343px;
					height: 608px;
					background: url('../images/modus/ims/hiw-bg-bottom-left.svg') 0 0 no-repeat;
				}

				&:after {
					content: '';
					display: block;
					position: absolute;
					z-index: -1;
					top: -408px;
					right: 0;
					width: 220px;
					height: 884px;
					background: url('../images/modus/ims/hiw-bg-bottom-right.svg') 0 0 no-repeat;
				}

				&-left {
					flex: 0;
					padding-right: 30px;
				}

				&-right {
					/*max-width: 467px;*/
					position: relative;
					top: -30px;
				}

			}

			&__text {

				max-width: 700px;
				margin: 0;

				font-style: normal;
				font-weight: 500;
				font-size: 24px;
				line-height: 32px;

				& strong,
				& b {
					font-weight: 700;					
				}

			}

		}

	}

	&__capabilities {

		padding: 68px 0 112px;

		& .capabilities {

			&__title {
				max-width: 750px;
				font-style: normal;
				font-weight: 700;
				font-size: 46px;
				line-height: 56px;
				margin-bottom: 72px
			}

			&__row {

				margin-bottom: 80px;

				&:last-child {
					margin-bottom: 0;
				}

				&-left {
					flex: 0 0 50%;
				}

				&-right {
					flex: 0 0 50%;
				}

				&-left:not(.--picture) {
					padding-right: 32px;
					/*max-width: 460px;*/
				}

				&-right:not(.--picture) {
					padding-left: 32px;
					/*max-width: 460px;*/
				}

			}

			&__heading {
				font-size: 30px;
				line-height: 36px;
				font-weight: 600;
			}

			&__description {
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 20px;
				margin-top: 4px;
			}

			&__list {

				margin: 32px 0 24px 0;

				&-item {
					font-weight: 400;
					font-size: 16px;
					line-height: 24px;
				}

			}

			&__picture {

				text-align: center;

				& picture,
				& img {
					display: inline-block;
					/*max-width: 100%;*/
				}

			}

			&__top-text {
				max-width: 340px;
				font-size: 16px;
				line-height: 19px;
				margin: 0 auto 16px;
				font-weight: 500;
			}


			&__bottom-text {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				margin-top: 16px;
			}

		}

	}

	&__functional {

		padding: 80px 0 208px;
		/*max-width: 1170px;*/

		& .functional {

			&__title {
				font-style: normal;				
				font-weight: 700;
				font-size: 46px;
		    	line-height: 56px;
				margin-bottom: 56px
			}

			&__row {

				margin-bottom: 144px;

				&:last-child {
					margin-bottom: 0;
				}

				&-left {
					flex: 0 0 50%;
				}

				&-right {
					flex: 0 0 50%;
				}

				&-left:not(.--picture) {
					padding-right: 56px;
					/*max-width: 460px;*/
				}

				&-right:not(.--picture) {
					padding-left: 56px;
					/*max-width: 460px;*/
				}

				&-left.--picture,
				&-right.--picture {
					flex: 1;
				}

				&-left.--picture  {
					text-align: left;
				}

				&-right.--picture {
					text-align: right;
				}

			}

			&__heading {
				font-size: 30px;
				line-height: 36px;
				font-weight: 600;
				margin-bottom: 24px;
			}

			&__description {
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 24px;
			}

			&__picture {

				& picture,
				& img {
					display: inline-block;
					/*max-width: 100%;*/
				}

			}

		}

	}

	&__for-whom {

		padding: 96px 0;

		& .for-whom {

			&__wrap {
				padding-left: 150px;
			}

			&__title {
				font-style: normal;
				font-weight: 700;
				font-size: 48px;
				line-height: 58px;
				margin-bottom: 24px;			
			}

			&__description {
				max-width: 560px;
				font-style: normal;
				font-weight: 500;
				font-size: 30px;
				line-height: 42px;
				margin-bottom: 48px;	
			}

			&__list {

				max-width: 510px;
				margin-bottom: 180px;
				padding: 0 0 0 42px;

				&-item {
					font-weight: 400;
					font-size: 18px;
					line-height: 26px;
				}

			}

			&__tabs {

				& .tabs {

					&__container {

					}

					&__nav {

						position: relative;

						&-left,
						&-right {

							content: '';
							display: block;
							/*width: 6px;*/
							width: 6px;
							height: 10px;
							position: absolute;
							z-index: 100;
							top: 6px;
							cursor: pointer;
							transition: all 0.25s linear;

							&:hover {
								opacity: 0.7;
								width: 16px;
							}

						}

						&-left {

							left: -22px;
							background: url('../img/sprite/tab-arrow-left.svg') left 0 no-repeat;

							&:hover {
								left: -32px;
							}

						}

						&-right {

							right: -22px;
							background: url('../img/sprite/tab-arrow-right.svg') right 0 no-repeat;

							&:hover {
								right: -32px;
							}

						}

					}

					&__list {

						margin: 0 0 136px 0;
						padding: 0;
						list-style: none;
						border-bottom: solid 2px rgba(31, 32, 65, 0.1);

						&-item {

							margin: 0 16px 0 0;
							padding: 0 24px 32px;
							list-style: none;
							position: relative;

							&:last-child {
								margin-right: 0;
							}

							&.--active {
								
								&:after {
									content: '';
									display: block;
									position: absolute;
									z-index: 100;
									left: 0;
									bottom: -3px;
									width: 100%;
									height: 4px;
									border-radius: 3px;
									background: $maingradient;
								}

							}

							& a {

								font-style: normal;
								font-weight: 600;
								font-size: 19px;
								line-height: 22px;
								color: #7093C2;

								&:hover {
									opacity: 0.7;
								}

							}

							&.--active a,
							&.--active a:focus,
							&.--active a:hover {
								font-size: 19px;
								line-height: 22px;
								color: $standartcolor;
								cursor: default;
								opacity: 1;
							}

						}

					}

					&__content {

						display: none;

						&.--active {
							display: flex;
						}

						& .tab-content {

							&__picture {

								margin-bottom: 64px;
								margin: 0 auto 64px;

								& picture,
								& img {
									display: inline-block;
								}

							}

							&__title {

								font-size: 30px;
								line-height: 42px;
								font-weight: 600;
								margin-bottom: 24px;
								margin: 0 auto 24px;

								& strong,
								& b {
									font-weight: 700;
								}

							}

							&__text {
								font-style: normal;
								font-weight: 500;
								font-size: 18px;
								line-height: 26px;
								max-width: 700px;
								margin: 0 auto 128px;
							}

							&__heading {

								font-style: normal;
								font-weight: 500;
								font-size: 26px;
								line-height: 36px;
								margin-bottom: 64px;
								margin: 0 auto 64px;

								& strong,
								& b {
									font-weight: 700;
								}

							}

							&__list {

								margin-bottom: 16px;
								margin: 0 auto 15px;

								&-item {

									flex: 0 0 400px;
									margin-bottom: 40px;
									margin-right: 100px;
									font-weight: 500;

									&:nth-child(even) {
										margin-right: 0px;										
									}

								}

							}

						}

					}

				}

			}

		}

	}

	&__industries {

		background: #F5F9FF;
		padding: 112px 0 192px;

		& .industries {

			&__title {

				font-size: 30px;
				line-height: 42px;
				font-weight: 600;
				max-width: 870px;
				margin: 0 auto 72px;

				& strong,
				& b {
					font-weight: 700;
				}

			}

			&__list {

				&-item {

					/*padding: 48px 120px 80px 104px;*/
					padding: 48px 104px 80px;
					background: $white;
					box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.07);
					max-width: 850px;
					margin: 0 auto 48px;

					&:last-child {
						margin-bottom: 0;
					}

				}

				&-line {
					margin-bottom: 16px;
				}

				&-picture {

					& picture,
					& img {
						display: block;
					}

				}

				&-title {
					font-size: 30px;
					line-height: 40px;
					font-weight: 600;
					padding-left: 32px;
					position: relative;
					top: -10px;
				}

				&-heading {
					font-size: 18px;
					line-height: 24px;
					margin-bottom: 20px;
					font-weight: 500;
				}

				&-text {

					& p {

						font-style: normal;
						font-weight: 400;
						font-size: 18px;
						line-height: 24px;
						color: #7093C2;
						margin-bottom: 20px;

						&:last-child {
							margin-bottom: 0;
						}

					}

				}

			}

		}

	}

	&__cases {

		padding: 120px 0 64px;

		&-list {

			margin-bottom: 80px;



			&.owl-theme {

				& .owl-dots {
					left: calc(50% + 60px);
					transform: translateX(-50%);
				}

			}

			& .owl-prev,
			& .owl-next {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}

			& .owl-prev {
				left: -40px;
			}

			& .owl-next {
				right: -40px;
			}

			& .cases-list {

				&__item {

					padding-left: 120px; 

					&-title {
						font-style: normal;
						font-weight: 700;
						font-size: 46px;
    					line-height: 56px;
						max-width: 800px;
						/*margin: 0 auto 8px;*/
						margin-bottom: 8px;						
					}

					&-desc {
						font-size: 18px;
						line-height: 26px;
						font-weight: 500;
						max-width: 800px;
						/*margin: 0 auto 56px;*/
						margin-bottom: 56px;	
					}

					&-info {

						margin-bottom: 80px;

						& .item-info__data {

							/*flex: 0 0 530px;*/
							flex: 0 0 50%;
							margin-bottom: 40px;
							padding-left: 88px;
							position: relative;

							/*&.--break {
								flex-basis: 100%;
								height: 0;
								margin-bottom: 0px;
								padding-left: 0px;
							}*/

							&:nth-child(odd) {
								padding-right: 40px;
							}

							&:nth-child(even) {
								flex: 1;
								/*flex: 0 0 365px;*/
							}

							&:nth-last-child(1),
							&:nth-last-child(2) {
								margin-bottom: 0;
							}

							&:before {
								content: '';
								display: block;
								width: 64px;
								height: 64px;
								position: absolute;
								top: 0;
								left: 0;
								z-index: 100;
							}

							&.--clients:before {
								background: url('../img/sprite/cases-icon-clients.svg') 0 0 no-repeat;
							}

							&.--economy:before {
								background: url('../img/sprite/cases-icon-economy.svg') 0 0 no-repeat;
							}

							&.--location:before {
								background: url('../img/sprite/cases-icon-location.svg') 0 0 no-repeat;
							}

							&.--timing:before {
								background: url('../img/sprite/cases-icon-timing.svg') 0 0 no-repeat;
							}

							&.--trade:before {
								background: url('../img/sprite/cases-icon-trade.svg') 0 0 no-repeat;
							}

							&.--payback:before {
								background: url('../img/sprite/cases-icon-payback.svg') 0 0 no-repeat;
							}

							&-name {
								font-size: 16px;
								line-height: 26px;
								margin-bottom: 2px;
							}

							&-text {
								font-size: 24px;
								line-height: 26px;

								&.--flag {
									position: relative;
									top: -5px;
								}

								&.--flag:after {
									content: '';
									display: inline-block;
									width: 41px;
									height: 27px;
									margin-left: 22px;
									position: relative;
									top: 5px;
								}

								&.--de:after {
									background: url('../img/sprite/flag-de.svg') 0 0 no-repeat;									
								}

								&.--ru:after {
									background: url('../img/sprite/flag-ru.svg') 0 0 no-repeat;									
								}

							}

							&-website {
								margin-top: 10px;
								font-size: 16px;
								line-height: 26px;
							}

						}

					}

					&-button {
						/*width: 50%;*/
					}

				}

			}

		}

	}

	&__process-n-timing {

		padding: 116px 0 104px;

		& .process-n-timing {

			&__title {
				font-style: normal;
				font-weight: 700;
				font-size: 46px;
    			line-height: 56px;
				margin-bottom: 48px;
				max-width: 900px;
				margin-left: 128px;
			}

			&__calendar {

				margin: 0 0 112px;
				padding: 0;
				list-style: none;

				&-item {
					flex: 0 0 374px;
					margin: 0;
					padding: 0 16px;
					list-style: none;
				}

				&-item .calendar-item {

					&__gradient {
						padding: 1px;						
						background: $maingradient;
						box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
						border-radius: 4px;
						height: 100%;				
					}

					&__wrap {
						background: $white;
						border-radius: 4px;
						display: flex;
						flex-direction: column;
						align-items: center;
						padding: 64px;
						height: 100%;
					}

					&__icon {
						display: block;
						width: 81px;
						height: 73px;
						margin-bottom: 32px;
					}

					&__title {
						font-size: 30px;
						line-height: 35px;
						font-weight: 700;
						margin-bottom: 8px;
					}

					&__text {
						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						line-height: 20px;
						text-align: center;
					}

				}

				&-item.--pink .calendar-item {

					&__icon {
						background: url('../img/sprite/calendar-2-3.svg') 0 0 no-repeat;
					}

					&__title {
						color: #E368E3;
					}

				}

				&-item.--green .calendar-item {

					&__icon {
						background: url('../img/sprite/calendar-1-4.svg') 0 0 no-repeat;
					}

					&__title {
						color: #1ECDD8;
					}

				}

				&-item.--blue .calendar-item {

					&__icon {
						background: url('../img/sprite/calendar-2-6.svg') 0 0 no-repeat;
					}

					&__title {
						color: #3491F7;
					}

				}

			}

			&__process {

				margin: 0 0 64px 0;
				padding: 0;
				list-style: none;

				&-item {

					flex: 0 0 327px;
					width: 327px;
					margin: 0;
					padding: 0 32px;
					list-style: none;
					text-align: center;

					&.--half {
						flex: 0 0 251px;
						width: 251px;
						padding: 0 28px;
					}

				}

				&-item .process-item {

					&__gradient {

						padding: 1px;						
						background: $maingradient;
						box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
						border-radius: 20px;
						margin-bottom: 36px;
						position: relative;

						&:before {
							content: '';
							display: block;
							width: 14px;
							height: 26px;
							position: absolute;
							top: 50%;
							transform: translateY(-50%);
							left: -38px;
							background: url('../img/sprite/arrow-right-gradient.svg') 0 0 no-repeat;
						}			
					}

					&__wrap {
						background: $white;
						border-radius: 20px;
						display: flex;
						flex-direction: column;
						align-items: center;
						padding: 28px 0;
					}

					&__icon {
						display: flex;
						width: auto;
						height: 116px;
						margin-bottom: 24px;
						align-items: flex-end;
						justify-content: flex-end;
					}

					&__title {
						font-size: 18px;
						line-height: 21px;
						margin-bottom: 32px;
						font-weight: 600;
					}

					&__heading {
						font-size: 16px;
						line-height: 19px;
						height: 36px;
						font-weight: 600;
						margin-bottom: 10px;
					}

					&__description {
						font-style: normal;
						font-weight: 500;
						font-size: 12px;
						line-height: 17px;
						height: 35px;
					}

					&__text {
						font-size: 30px;
						line-height: 35px;
						font-weight: 700;
					}

				}

				&-item:first-child .process-item {

					&__gradient {

						&:before {
							display: none;
						}

					}

				}

				&-item.--pink .process-item {

					&__text {
						color: #E368E3;
					}

				}

				&-item.--green .process-item {

					&__text {
						color: #1ECDD8;
					}

				}

				&-item.--blue .process-item {

					&__text {
						color: #3491F7;
					}

				}

				&-item.--half .process-item {

					&__wrap {						
						padding: 22px 28px 36px;
					}

					&__gradient {
						margin-bottom: 24px;			
					}

					&__gradient + &__gradient {
						margin-bottom: 0px;			
					}

					&__heading {
						font-size: 20px;
						line-height: 26px;
						height: 35px;
						margin-bottom: 0px;
					}

					&__description {
						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						line-height: 1;
						background: #ECF5FF;
						border-radius: 5px;
						padding: 11px 24px;
					}

				}

			}

			&__learning {
				font-style: normal;
				font-weight: 600;
				font-size: 21px;
				line-height: 25px;
			}

		}

	}

	&__tariffs {

		padding: 96px 0 128px;

		& .tariffs {

			&__title {
				font-style: normal;
				font-weight: 700;
				font-size: 48px;
				line-height: 58px;
				margin-bottom: 80px;
			}

			&__list {

				&-item {

					margin-bottom: 64px;

					&:last-child {
						margin-bottom: 0;
					}

				}

				&-left {
					flex: 0 0 308px;
				}

				&-right {
					flex: 1;
					max-width: 720px;
					padding-left: 54px;
				}

				&-configuration {

					& .list-configuration {

						&__name {

							background: transparent;
							border-top-left-radius: 10px;
							border-bottom-left-radius: 10px;
							height: 260px;
							display: flex;
							flex-wrap: wrap;
							flex-direction: column;
							align-items: center;
							justify-content: center;
							position: relative;
							top: 48px;
							flex: 1;

							& span {
								font-style: normal;
								font-weight: 500;
								font-size: 24px;
								line-height: 28px;
								color: $white;
								text-transform: uppercase;
								writing-mode: tb;
								transform: rotate(180deg);
							}

							&.--lite {
								background: #E368E3;
							}

							&.--progressive {
								background: #67E3E2;
							}

							&.--individual {
								background: #3491F7;
							}

						}

						&__content {

							flex: 0 0 248px;
							padding: 48px 24px;
							text-align: center;
							background: $white;
							border: 1px solid transparent;
							box-sizing: border-box;
							box-shadow: 2px 8px 12px rgba(31, 32, 65, 0.1);
							border-radius: 10px;

							&.--lite {
								border-color: #E368E3;
							}

							&.--progressive {
								border-color: #67E3E2;
							}

							&.--individual {
								border-color: #3491F7;
							}

						}

						&__parameter {

							border-bottom: solid 1px rgba(31, 32, 65, 0.1);
							padding-top: 16px;
							padding-bottom: 16px;

							&:last-child {
								border-bottom: none;
								padding-bottom: 0;
							}

							&.--price {

								font-size: 30px;
								line-height: 36px;
								padding-top: 0px;
								font-weight: 600;
								padding-bottom: 24px;

								& span:not(.rouble) {
									font-size: 18px;
									line-height: 21px;
								}

							}

							&-name {
								font-style: normal;
								font-weight: 600;
								font-size: 14px;
								line-height: 16px;
								margin-bottom: 8px;
							}

							&-term {

								font-size: 16px;
								line-height: 19px;
								text-transform: uppercase;
								font-weight: 600;

								&.--lite {
									color: #E368E3;
								}

								&.--progressive {
									color: #67E3E2;
								}

								&.--individual {
									color: #3491F7;
								}

							}

							&-desc {
								margin-top: 8px;
								font-style: normal;
								font-weight: normal;
								font-size: 11px;
								line-height: 13px;
								font-weight: 500;
							}

						}

					}

				}

				&-description {
					padding: 64px 40px 64px 56px;
					border: solid 1px transparent;
					box-shadow: 2px 8px 12px rgba(31, 32, 65, 0.07);
					border-radius: 5px;
					margin-bottom: 40px;
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 24px;
					color: #8091B5;

					& strong,
					& b {
						color: $standartcolor;
						font-weight: 700;
					}

					&.--lite {
						border-color: #E368E3;
					}

					&.--progressive {
						border-color: #67E3E2;
					}

					&.--individual {
						border-color: #3491F7;
					}

				}

				&-buttons {

					& a:first-child {
						margin-right: 24px;
					}

				}

				&-item.--lite &-configuration {

					& .list-configuration {

						&__name {
							background: #E368E3;
						}

						&__content {
							border-color: #E368E3;
						}

						&__parameter {

							&-term {
								color: #E368E3;
							}

						}

					}

				}

				&-item.--lite &-description {
					border-color: #E368E3;
				}

			}

		}

	}

	&__get-express-diagnostic {

		padding: 96px 0 48px;

		& .get-express-diagnostic {

			&__title {
				font-style: normal;
				font-weight: 700;
				font-size: 46px;
    			line-height: 56px;
				margin-bottom: 48px;
				/*max-width: 915px;*/
				max-width: 870px;
				/*margin: 0 auto 48px;*/
				margin: 0 auto 48px 150px;
			}

			&__text {
				
				max-width: 870px;
				/*margin: 0 auto;*/
				margin: 0 auto 48px 150px;

				& p {
					font-size: 18px;
					line-height: 26px;
					font-weight: 500;
					margin-bottom: 24px;

					&:last-child {
						margin-bottom: 0;
					}

					& strong,
					& b {
						font-weight: 700;
					}

				}

			}

		}

	}

	&__free-express-diagnostic {

		padding: 96px 0 16px;
		background: #F8FBFF;

		& .free-express-diagnostic {

			&__title {
				font-style: normal;
				font-weight: 700;
				font-size: 46px;
    			line-height: 56px;
				max-width: 800px;
				margin-bottom: 48px;
				margin: 0 auto 48px;
			}

			&__list {

				max-width: 800px;
				margin: 0 auto;
				padding: 0;
				list-style: none;

				&-item {

					margin: 0 0 72px;
					padding: 0;
					list-style: none;
					flex: 0 0 50%;

					&:nth-child(odd) {
						padding-right: 20px;
					}

					&:nth-child(even) {
						padding-left: 20px;
					}

				}

				&-num {
					width: 60px;
					height: 60px;
					margin-bottom: 40px;
					background: $maingradient;
					display: flex;
					align-items: center;
					justify-content: center;
					color: $white;
					border-radius: 100%;
					font-size: 19px;
					line-height: 22px;
				}

				&-text {

					font-size: 18px;
					line-height: 26px;
					font-weight: 500;

					& strong,
					& b {
						font-weight: 700;
					}

				}

			}

		}

	}

	&__total {

		padding: 72px 0 112px;

		& .total {

			&__title {
				font-style: normal;
				font-weight: 700;
				font-size: 48px;
				line-height: 58px;
				max-width: 690px;
				/*margin-bottom: 40px;*/
				/*margin: 0 auto 40px;*/
				margin: 0 0 40px 150px;
			}

			&__description {
				font-size: 24px;
				line-height: 34px;
				font-weight: 600;
				max-width: 690px;
				/*margin-bottom: 48px;*/
				/*margin: 0 auto 48px;*/
				margin: 0 0 48px 150px;

				& strong,
				& b {
					font-weight: 700;
				}
			}

			&__button {
				max-width: 690px;
				/*margin: 0 auto;*/
				margin: 0 0 0 150px;
			}

		}

	}

	&__news {

		background: radial-gradient(151.2% 260.55% at -10.94% 135.63%, #C4E0FF 0%, #ECF5FF 38.35%, #F7FBFF 83.26%);
		padding: 64px 0 160px;

		& > .container {

			position: relative;

			&:before {
				content: '';
				display: block;
				width: 146px;
				height: 194px;
				position: absolute;
				bottom: -70px;
				left: -29px;
				background: url('../img/sprite/modus-img-news-bg-left.svg') 0 0 no-repeat;
			}


			&:after {
				content: '';
				display: block;
				width: 157px;
				height: 158px;
				position: absolute;
				top: 50px;
				right: -30px;
				background: url('../img/sprite/modus-img-news-bg-right.svg') 0 0 no-repeat;
			}

		}

		& .news {

			&__title {
				font-size: 30px;
				line-height: 40px;
				font-weight: 600;
				margin-bottom: 48px;
			}

			&__list {

				&-item {
					flex: 0 0 33.3%;
					padding: 0 32px;
					position: relative;
					z-index: 110;
					opacity: 0.6;
				}


				&-gradient {
					padding: 1px;
					box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
					border-radius: 4px;
					height: 100%;
				}

				&-wrap {
					padding: 40px 32px 72px;
					background: $white;
					border-radius: 4px;
					height: 100%;
				}

				&-date {
					font-style: normal;
					font-weight: normal;
					font-size: 12px;
					line-height: 14px;
					color: rgba(62, 82, 132, 0.4);
					margin-bottom: 10px;
				}

				&-title {
					font-size: 18px;
					line-height: 21px;
					font-weight: 700;
					margin-bottom: 24px;
				}

				&-anounce {
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 20px;
					color: rgba(62, 82, 132, 0.8);
					margin-bottom: 40px;
				}

				&-more {

					text-align: center;

					& a {

						text-decoration: none;
						padding: 15px 36px;
						font-style: normal;
						font-weight: bold;
						font-size: 16px;
						line-height: 19px;
						color: #C2DAF9;
						background: transparent;
						border-radius: 135px;
						border: solid 1px #C2DAF9; 

						&:hover { 
							/*background: $maingradientreverse;
							border: none;*/
							background: #C2DAF9;
							color: $white;
							padding: 16px 37px;
						}

					}

				}

				&.owl-carousel .owl-stage-outer {
					padding: 56px 0;
				}

				/*&.owl-carousel .owl-stage {
					display: flex;
				}

				&.owl-carousel .owl-item {
					width: auto;
					height: 100%;
				}*/

				& .owl-item.active.center .news__list-item {
					opacity: 1;
					transform: scale(1.1);
				}

				& .owl-item.active.center .news__list-item .news__list-gradient {

					background: $maingradient;

				}

				& .owl-item.active.center .news__list-item .news__list-more {

					& a {

						color: $white;
						background: $maingradient;
						border: none;
						padding: 16px 37px;

						&:hover {
							background: $maingradientreverse;
							border: none;
						}

					}

				}

				& .owl-prev,
				& .owl-next {
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
				}

				& .owl-prev {
					left: -76px;
				}

				& .owl-next {
					right: -76px;
				}

				&.owl-theme {

					& .owl-dots .owl-dot span {
						background: #CDDDF2;
					}

					& .owl-dots .owl-dot.active span,
					& .owl-dots .owl-dot.active:hover span  {
						background: #65779E;
						opacity: 1;
					}

				}

			}

		}

	}
	
}
/***
--- @media (max-width: 1440px) ---
***/
@media (max-width: map-get($grid-breakpoints, "xxl")) {

	.modus-ims {

		&__hero {

			&-wrap {
				background-position-y: calc(50% - 98px);
			}

		}

		&__video {

			&-left {
				flex: 0 0 662px;
			}

		}

		&__process-n-timing {

			& .process-n-timing {

				&__calendar {

					&-item {
						flex: 0 0 342px;
					}

					&-item .calendar-item {

						&__wrap {
							padding: 57px 64px;
						}

					}
				}

				&__process {

					margin: 0 0 64px 0;
					padding: 0;
					list-style: none;

					&-item {

						flex: 1;
						width: 325px;
						margin: 0;
						padding: 0 30px;

						&:first-child {
							padding: 0 30px 0 0;
							width: 295px;
						}

						&.--half {
							flex: 0;
							width: 251px;
							padding: 0 28px;

							&:last-child {
								padding: 0 0 0 28px;
								width: 223px;
							}

						}

					}

					&-item.--half .process-item {

						&__gradient {
							margin-bottom: 27px;			
						}

					}

				}

			}

		}

		/*&__express-diagnostic {

			& > .container {

				position: relative;

				&:before {
					left: -110px;

				}

				&:after {
					right: -110px;
				}

			}

		}*/

	}

}
/***
--- @media (max-width: 1170px) ---
***/
@media (max-width: map-get($grid-breakpoints, "xl")) {

	.modus-ims {

		&__hero {

			&-wrap {
				background-position-x: calc(50% + 100px);
			}

		}

	}


}
/***
--- @media (max-width: 992px) ---
***/
@media (max-width: map-get($grid-breakpoints, "lg")) {

	.modus-ims {

		&__hero {
			
			background: url('../images/modus/ims/modus-ims-hero-bg.svg') calc(0% - 50px) calc(100% - 80px) no-repeat,  radial-gradient(151.2% 260.55% at -10.94% 135.63%, #C4E0FF 0%, #ECF5FF 38.35%, #F7FBFF 83.26%);

			&-wrap {
				background: none;
			}

			& .hero-content {

				flex: 0 0 100%;
				padding-right: 0px;
				margin-bottom: 45px;

			}

			& .hero-picture {
				flex: 0 0 100%;
			}

		}

	}

}
/***
--- @media (max-width: 768px) ---
***/
@media (max-width: map-get($grid-breakpoints, "md")) {

	.modus-ims {

		&__hero {

			& .hero-content {

				/*&__buttons {

					& > .btn:first-child {
						margin-right: 15px;
					}

				}*/
				&__buttons {

					text-align: center;

					& > .btn {
						width: 270px;
					}

					& > .btn:first-child {
						margin-right: 0px;
						margin-bottom: 18px;
					}

				}

			}

		}

	}

}
/***
--- @media (max-width: 567px) ---
***/
@media (max-width: map-get($grid-breakpoints, "sm")) {

	.modus-ims {


		&__hero {

			padding: 95px 0 100px;
			background: url("../images/modus/ims/modus-ims-hero-bg.svg") calc(0% - 65px) calc(100% - 40px) no-repeat, radial-gradient(151.2% 260.55% at -10.94% 135.63%, #C4E0FF 0%, #ECF5FF 38.35%, #F7FBFF 83.26%);

			& .hero-content {

				&__description {
					font-size: 24px;
					line-height: 28px;
					margin-bottom: 31px;
				}

				&__text {
					margin-bottom: 32px;
				}

				/*&__buttons {

					text-align: center;

					& > .btn {
						width: 265px;
					}

					& > .btn:first-child {
						margin-right: 0px;
						margin-bottom: 18px;
					}

				}*/

			}

		}

	}

}