
	<section class="category-menu">

		<div class="category-menu__wrap">

			<div class="container-fluid container-lg">

				<form class="form category-menu__form d-flex d-md-none flex-wrap align-items-start justify-content-center">
					<select class="js-select2 category-menu__form-select" name="CATEGORY_MENU">
						<option selected value="#about">О продукте</option>
						<option value="#for-whom">Для кого</option>
						<option value="#cases">Кейсы</option>
						<option value="#tariffs">Тарифы</option>
						<option value="/express-diagnostic.html">Экспресс-аудит</option>
					</select>
				</form>

				<ul class="category-menu__list d-none d-md-flex flex-wrap align-content-center justify-content-center">
					<li class="menu-list__item --title">МОДУС Запасы</li>
					<li class="menu-list__item">
						<a href="#about">О продукте</a>
					</li>
					<li class="menu-list__item">
						<a href="#for-whom">Для кого</a>
					</li>
					<li class="menu-list__item --dropdown<% if(typeof categoryMenu !== 'undefined' && categoryMenu.active == 'Кейсы') { %> --active<% } %>">
						<a href="#cases">Кейсы</a>
						<div>
							<ul>
								<li>
									<a href="/case.html">Производитель автозапчастей</a>
								</li>
								<li>
									<a href="/case-2.html">Дистрибьютер продуктов питания</a>
								</li>
							</ul>
						</div>
					</li>
					<li class="menu-list__item">
						<a href="#tariffs">Тарифы</a>
					</li>
					<li class="menu-list__item<% if(typeof categoryMenu !== 'undefined' && categoryMenu.active == 'Экспресс-аудит') { %> --active<% } %>">
						<a href="/express-diagnostic.html">Экспресс-аудит</a>
					</li>
				</ul>

			</div>
			
		</div>

	</section>