

			</main>
		
		</div>

		<% if(typeof intro === 'undefined') { %>

		<footer class="footer">

			<div class="container d-flex flex-wrap align-items-stretch justify-content-center justify-content-lg-start justify-content-lg-end">

				<div class="footer__col-1 d-flex flex-wrap align-items-center justify-content-start d-lg-block">

					<div class="footer__logo"></div>

					<div class="footer__social d-flex d-lg-none ml-auto">
						<div class="footer__social-item --youtube">
							<a href="//www.youtube.com/channel/UCahrY289uytuo9-Y408gXhQ" target="_blank">Мы на YouTube</a>
						</div>
						<div class="footer__social-item --facebook">
							<a href="javascript:;" target="_blank">Мы на Facebook</a>
						</div>
					</div>

					<div class="footer__description">Модус &mdash; эксперт в&nbsp;области управления и работы с данными. Используя
						передовые разработки Модус, вы с&nbsp;легкостью увидите скрытый потенциал данных, и&nbsp;за&nbsp;считанные
						секунды получите ответы на&nbsp;вопросы, не привлекая <br class="d-inline-block d-md-none">ИТ-специалистов.
					</div>

					<div class="footer__download-presentation">
						<!-- <a href="javascript:;"><span><span>Скачать презентацию</span></span></a> -->
						<a href="javascript:;" class="gradient-button --footer">
							<span>
								<span>Скачать презентацию</span>
							</span>
						</a>
					</div>

					<!-- <div class="footer__term-of-use">
						<a href="/upload/docs/Политика_конфиденциальности_БиАй_Про.pdf" target="_blank">Политика конфиденциальности</a>
					</div> -->
					
				</div>

				<div class="footer__col-2">

					<div class="footer__title">Продукты</div>

					<ul class="footer__nav">
						<li class="footer__nav-item">
							<a href="javascript:;">МОДУС BI</a>
						</li>								
						<li class="footer__nav-item">
							<a href="javascript:;">МОДУС ETL</a>
						</li>								
						<li class="footer__nav-item">
							<a href="javascript:;">МОДУС Запасы</a>
						</li>				
					</ul>

					<div class="footer__social d-none d-lg-flex">
						<div class="footer__social-item --youtube">
							<a href="//www.youtube.com/channel/UCahrY289uytuo9-Y408gXhQ" target="_blank">Мы на YouTube</a>
						</div>
						<div class="footer__social-item --facebook">
							<a href="javascript:;" target="_blank">Мы на Facebook</a>
						</div>
					</div>
					
				</div>

				<div class="footer__col-3" id="footer-contacts">

					<div class="footer__title">Контакты</div>

					<ul class="footer__list">
						<li class="footer__list-item --phone">
							<a href="tel:+74951182814">+7 (495) 118-28-14</a>
						</li>
						<li class="footer__list-item --email">
							<a href="mailto:post@modusbi.ru">post@modusbi.ru</a>
						</li>
						<li class="footer__list-item --address">
							115114, г. Москва,<br>2-й Кожевнический переулок, <br class="d-inline-block d-md-none">д. 12, стр. 2
						</li>
						<li class="footer__list-item --term-of-use">
							<a href="javascript:;">Политика конфиденциальности</a>
						</li>							       
					</ul>
					
				</div>

			</div>

		<footer>

		<% } %>

	</body>

</html>