

			</main>
		
		</div>

		<% if(typeof intro === 'undefined') { %>

		<footer class="footer">

			<div class="container d-flex flex-wrap align-items-stretch justify-content-center justify-content-lg-start justify-content-lg-end">

				<div class="footer__col-1 d-flex flex-wrap align-items-center justify-content-start d-lg-block">

					<div class="footer__logo"></div>

					<div class="footer__social d-flex d-lg-none ml-auto">
						<div class="footer__social-item --youtube">
							<a href="//www.youtube.com/channel/UCahrY289uytuo9-Y408gXhQ" target="_blank">Мы на YouTube</a>
						</div>
						<div class="footer__social-item --facebook">
							<a href="javascript:;" target="_blank">Мы на Facebook</a>
						</div>
					</div>

					<div class="footer__description">Модус &mdash; эксперт в&nbsp;области управления и работы с данными. Используя
						передовые разработки Модус, вы с&nbsp;легкостью увидите скрытый потенциал данных, и&nbsp;за&nbsp;считанные
						секунды получите ответы на&nbsp;вопросы, не привлекая <br class="d-inline-block d-md-none">ИТ-специалистов.
					</div>

					<div class="footer__download-presentation">
						<!-- <a href="javascript:;"><span><span>Скачать презентацию</span></span></a> -->
						<a href="javascript:;" class="gradient-button --footer">
							<span>
								<span>Скачать презентацию</span>
							</span>
						</a>
					</div>

					<!-- <div class="footer__term-of-use">
						<a href="/upload/docs/Политика_конфиденциальности_БиАй_Про.pdf" target="_blank">Политика конфиденциальности</a>
					</div> -->
					
				</div>

				<div class="footer__col-2">

					<div class="footer__title">Продукты</div>

					<ul class="footer__nav">
						<li class="footer__nav-item">
							<a href="javascript:;">МОДУС BI</a>
						</li>								
						<li class="footer__nav-item">
							<a href="javascript:;">МОДУС ETL</a>
						</li>								
						<li class="footer__nav-item">
							<a href="javascript:;">МОДУС Запасы</a>
						</li>				
					</ul>

					<div class="footer__social d-none d-lg-flex">
						<div class="footer__social-item --youtube">
							<a href="//www.youtube.com/channel/UCahrY289uytuo9-Y408gXhQ" target="_blank">Мы на YouTube</a>
						</div>
						<div class="footer__social-item --facebook">
							<a href="javascript:;" target="_blank">Мы на Facebook</a>
						</div>
					</div>
					
				</div>

				<div class="footer__col-3" id="footer-contacts">

					<div class="footer__title">Контакты</div>

					<ul class="footer__list">
						<li class="footer__list-item --phone">
							<a href="tel:+74951182814">+7 (495) 118-28-14</a>
						</li>
						<li class="footer__list-item --email">
							<a href="mailto:post@modusbi.ru">post@modusbi.ru</a>
						</li>
						<li class="footer__list-item --address">
							115114, г. Москва,<br>2-й Кожевнический переулок, <br class="d-inline-block d-md-none">д. 12, стр. 2
						</li>
						<li class="footer__list-item --term-of-use">
							<a href="javascript:;">Политика конфиденциальности</a>
						</li>							       
					</ul>
					
				</div>

			</div>

		</footer>

		<div class="popups frontend">

			<div class="popup popup--mini">
				
				<div class="popup__gradient">
				
					<div class="popup__container">

						<a href="javascript:;" class="popup__close"></a>

						<div class="popup__content">

							<div class="popup__progress">
								<div class="progress-bar"></div>
								<div class="progress-dot --val-1" data-value="Имя"><span><span>1</span></span></div>
								<div class="progress-dot --val-2" data-value="Почта"><span><span>2</span></span></div>
								<div class="progress-dot --val-3" data-value="Телефон"><span><span>3</span></span></div>
								<div class="progress-dot --val-4" data-value="Компания"><span><span>4</span></span></div>
							</div>

							<!-- <div class="popup__title text-center">Получить консультацию</div>

							<div class="popup__desc text-center">Я расскажу Вам всё о сертификации и отвечу на все вопросы. Это бесплатно и ни к чему не обязывает</div> -->
							<form class="form popup__form">

								<div class="form-group popup__form-group --mb-20">
									<label class="form-label" for="name">Имя</label>
									<input type="text" name="NAME" class="form-control" placeholder="Имя">
								</div>

								<div class="form-group popup__form-group --mb-20">
									<label class="form-label" for="name">Почта</label>
									<input type="email" name="EMAIL" class="form-control" placeholder="Почта">
								</div>

								<div class="form-group popup__form-group --mb-20">
									<label class="form-label" for="name">Телефон</label>
									<input type="tel" name="PHONE" class="form-control mask-phone" placeholder="Телефон">
								</div>

								<div class="form-group popup__form-group --mb-35">
									<label class="form-label" for="name">Компания</label>
									<input type="text" name="COMPANY" class="form-control" placeholder="Компания">
								</div>

								<div class="form-group --terms --mb-35">
									<input class="form-check-input" type="checkbox" value="" id="mini-form-terms-agree" checked>
									<label class="form-check-label" for="mini-form-terms-agree">Я согласен на <a href="javascript:;">обработку персональных данных.</a></label>
								</div>

								<div class="form-group popup__submit text-center">
									<button type="submit" class="btn btn-primary">Отправить</button>
								</div>

							</form>

							<!-- <div class="popup__terms text-center">Я согласен на обработку персональных данных.</div> -->
							
						</div>
						
					</div>
					
				</div>

			</div>

			<div class="popup popup--success">
				
				<div class="popup__container">

					<a href="javascript:;" class="popup__close"></a>

					<div class="popup__content">

						<div class="popup__success-icon"></div>

						<div class="popup__title --sm text-center">Мы получили ваше сообщение</div>

						<div class="popup__desc text-center">Мы проверяем и публикуем только реальные отзывы клиентов</div>

						<div class="popup__btn --close text-center">
							<a href="javascript:;" class="btn-custom btn-custom-large">ОК</a>
						</div>
						
					</div>
					
				</div>

			</div>
			
		</div>

		<% } %>

	</body>

</html>