<% var data = {
	lang:	"ru",
	title:	"Кейс",
	description:	"Кейс",
	og_url:	"",
	og_type:	"website",
	og_image:	"og.png",
	pageClass: "case-page"
}; %>
<%= _.template(require('./_include/header.html'))(data) %>

<div class="case">
	
	<section class="case__hero">
		
		<div class="case__hero-wrap container flex-wrap flex-lg-nowrap d-flex align-items-start justify-content-start">
			<div class="hero-content">
				<h1 class="hero-content__title">Внедрение приложения у крупного производителя автозапчастей</h1>
				<div class="hero-content__text">электрика, интерьер, cockpits</div>
			</div>
		</div>

	</section>

	<%= _.template(require('./_include/category-menu.html'), {variable: 'categoryMenu'})({active: "Кейсы"}) %>

	<section class="case__info">

		<div class="container">			

			<div class="case__data d-flex flex-wrap align-items-center justify-content-center">
				<div class="case-data__item --clients">
					<div class="case-data__item__wrap">
						<div class="case-data__name">клиенты</div>
						<div class="case-data__text">Volkswagen, Daimler, BMW, Magna </div>						
					</div>
				</div>
				<div class="case-data__item --economy">
					<div class="case-data__item__wrap">
						<div class="case-data__name">cокращение запасов за 4 месяца</div>
						<div class="case-data__text">20-22% (2 млн. &euro;)</div>					
					</div>
				</div>
				<div class="case-data__item --location">
					<div class="case-data__item__wrap">
						<div class="case-data__name">география</div>
						<div class="case-data__text --flag --de">Германия</div>					
					</div>
				</div>
				<div class="case-data__item --timing">
					<div class="case-data__item__wrap">
						<div class="case-data__name">срок реализации проекта</div>
						<div class="case-data__text">3 месяца</div>					
					</div>
				</div>
				<div class="case-data__item --trade">
					<div class="case-data__item__wrap">
						<div class="case-data__name">оборот</div>
						<div class="case-data__text">4.2 млрд. &euro;</div>					
					</div>
				</div>
				<div class="case-data__item --payback">
					<div class="case-data__item__wrap">
						<div class="case-data__name">срок окупаемости проекта</div>
						<div class="case-data__text">2-3 месяца</div>					
					</div>
				</div>
			</div>

		</div>

	</section>

	<section class="case__stage">

		<div class="stage__picture d-none d-lg-block">
			<picture>
				<source srcset="/images/cases/case-1@1x.webp 1x, /images/cases/case-1@2x.webp 2x" type="image/webp">
				<source srcset="/images/cases/case-1@1x.png 1x, /images/cases/case-1@2x.png 2x">
				<img src="/images/cases/case-1@1x.png" alt="" title="">
			</picture>	
		</div>

		<div class="container-sm px-0 d-flex flex-wrap align-items-center justify-content-start">

			<div class="stage__left">

				<div class="stage__title">Этап #1<br>Пилотный проект</div>

				<div class="stage__description">Пилотный завод в Восточной Европе.<br>Самый большой завод компании.</div>

				<div class="stage__heading">Ситуация:</div>

				<div class="stage__text">

					<p>Завод в Восточной Европе по производству кабеля для легковых автомобилей Daimler <strong>(C Class)</strong> и Magna <strong>(G Class)</strong> выбран в качестве пилота.</p>

					<p>Общие запасы на конец 2017 г. <strong>составили более</strong> 10 млн. &euro;, <strong>в т.ч.</strong> сырье и материалы &mdash; 7.2 млн. &euro;.</p>

					<p>Более 3 500 активных наименований сырья <strong>и материалов</strong> &mdash; высокая комплексность продукта <strong>(каждый вариант кабеля уникален).</strong></p>

				</div>

			</div>

			<div class="stage__right d-lg-none">

				<div class="stage__picture">
					<picture>
						<source srcset="/images/cases/case-1@1x.webp 1x, /images/cases/case-1@2x.webp 2x" type="image/webp">
						<source srcset="/images/cases/case-1@1x.png 1x, /images/cases/case-1@2x.png 2x">
						<img src="/images/cases/case-1@1x.png" alt="" title="">
					</picture>	
				</div>

			</div>

		</div>		

	</section>

	<section class="case__solution --first">

		<div class="container">

			<div class="solution__title">Решение от<br>МОДУС Запасы</div>

			<ul class="solution__list --mini list-type-1">
				<li class="solution__list-item list-type-1__item"><strong>Выгрузка, обработка и загрузка данных через API.</strong></li>
				<li class="solution__list-item list-type-1__item"><strong>Разработка системы показателей по управлению запасами</strong> (более 10 показателей).</li>
				<li class="solution__list-item list-type-1__item"><strong>Сегментация запасов и оценка уровня комплексности (ABC-XYZ).</strong></li>
				<li class="solution__list-item list-type-1__item"><strong>Разработка математического алгоритма расчета целевых значений запасов, до уровня компонента</strong> (с использованием более чем 15 уникальных параметров компонентов).</li>
				<li class="solution__list-item list-type-1__item"><strong>Расчет потенциала сокращения запасов, включая причины возникновения избытков запасов</strong> (минимальный объем партии, длительные сроки поставки, волатильность спроса, маркетинговые активности и т.д.)</li>
				<li class="solution__list-item list-type-1__item"><strong>Разработка бизнес-приложения для контроля эффективности управления запасами и отслеживания результатов программы.</strong></li>
			</ul>		

		</div>		

	</section>

	<section class="case__stage --v2">

		<div class="container-sm px-0 d-flex flex-wrap align-items-center justify-content-start">

			<div class="stage__left">

				<div class="stage__title">Этап #2<br>Масштабирование</div>

				<div class="stage__description">Тиражирование разработанной методологии на 15 заводов.</div>

			</div>

			<div class="stage__right"></div>

			<div class="stage__picture">
				<picture>
					<source srcset="/images/cases/case-2@1x.webp 1x, /images/cases/case-2@2x.webp 2x" type="image/webp">
					<source srcset="/images/cases/case-2@1x.png 1x, /images/cases/case-2@2x.png 2x">
					<img src="/images/cases/case-2@1x.png" alt="" title="">
				</picture>	
			</div>	

		</div>	

	</section>

	<section class="case__terms">

		<div class="container">

			<div class="terms__title">Условия:</div>

			<div class="case__terms-list d-flex flex-wrap align-items-stretch justify-content-start">

				<div class="terms-list__item">

					<div class="terms-list__item-gradient">
						
						<div class="terms-list__item-wrap d-flex flex-column flex-wrap justify-content-center align-items-center">

							<div class="terms-list__item-heading">> 15%</div>
							<div class="terms-list__item-desc">стран</div>

							<div class="terms-list__item-heading">50</div>
							<div class="terms-list__item-desc">заводов по всему миру</div>

							<div class="terms-list__item-heading">≈ 60 000</div>
							<div class="terms-list__item-desc">сотрудников</div>
							
						</div>

					</div>
					
				</div>

				<div class="terms-list__item">

					<div class="terms-list__item-gradient">
						
						<div class="terms-list__item-wrap d-flex flex-column flex-wrap justify-content-center align-items-center">

							<div class="terms-list__item-heading">20 000</div>
							<div class="terms-list__item-desc">активных наименований сырья и материалов — высокая комплексность данного продукта</div>
							
						</div>

					</div>
					
				</div>

				<div class="terms-list__item">

					<div class="terms-list__item-gradient">
						
						<div class="terms-list__item-wrap d-flex flex-column flex-wrap justify-content-center align-items-center">

							<div class="terms-list__item-heading">300 млн. €</div>
							<div class="terms-list__item-desc">общие запасы</div>

							<div class="terms-list__item-heading">75%</div>
							<div class="terms-list__item-desc">из которых составляют сырье и материалы, а это:</div>

							<div class="terms-list__item-heading">7%</div>
							<div class="terms-list__item-desc">от общей выручки</div>
							
						</div>

					</div>
					
				</div>

				<div class="terms-list__item">

					<div class="terms-list__item-gradient">
						
						<div class="terms-list__item-wrap d-flex flex-column flex-wrap justify-content-center align-items-center">

							<div class="terms-list__item-heading">> 15</div>
							<div class="terms-list__item-desc">заводов задействовано в тиражировании решения от МОДУС Запасы в 2019 году<br><br>Восточная Европа, Китай, Мексика</div>
							
						</div>

					</div>
					
				</div>
				
			</div>

		</div>		

	</section>

	<section class="case__solution pt-0">

		<div class="container">

			<div class="solution__title">Решение от МОДУС Запасы</div>

			<ul class="solution__list list-type-1">
				<li class="solution__list-item list-type-1__item"><strong>Автоматизация выгрузки, обработки и загрузки  данных (API, ETL) в бизнес-приложение. Определено более более 20 мероприятий по улучшению качества данных с целью последующей автоматизации процесса управления запасами.</strong></li>
				<li class="solution__list-item list-type-1__item"><strong>Разработка глобального бизнес-приложения для бенчмаркинга заводов, стран, регионов, бизнес-сегментов.</strong></li>
				<li class="solution__list-item list-type-1__item"><strong>Разработка описания и внедрение целевого бизнес-процесса по работе с бизнес-приложением (включая инструкцию).</strong></li>
				<li class="solution__list-item list-type-1__item"><strong>Разработка подхода к тиражированию бизнес-приложения для более 50 заводов в более, чем 15 странах мира (Китай, Европа, Америка и Африка).</strong></li>
				<li class="solution__list-item list-type-1__item"><strong>Проведение тренингов для региональных команд.</strong></li>
			</ul>		

		</div>		

	</section>


	<%= _.template(require('./_include/demo-form.html'), {variable: 'demoFormConfig'})({id: "1"}) %>

</div>


<%= _.template(require('./_include/footer.html'))(data) %>